<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>Page Title</title>
        <link rel="stylesheet" href="/css/myStyle.css"/>
    </head>
    <body>
        <h1>Fruity Candies</h1>
        <a href="/lowSugar">Low Sugar</a>
        <a href="/chocolate">Chocolate</a>
        <a href="/fruity">Fruity</a>
        <a href="/home">Home</a>
        <table>
            <thead>
                <tr>
                    <th>Candy Name</th>
                    <th>Win Percentage</th>
                    <th>Hard</th>
                    <th>Bar</th>
					<th>Packs of Many</th>
                </tr>
            </thead>
            <tbody>
                $$TABLE_BODY$$
            </tbody>
        </table>
    </body>
</html>
