<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    <h1>Welcome to the Candy Data Website!</h1>
    <p>Data is provided on the top 10 most liked low sugar, chocolate, and fruity candies.</p>
    <a href="/winpercent/low">Win Percentage</a>
    <a href="/sugarpercent/low">Sugar Percentage</a>
    <a href="/pricepercent/low">Price Percentage</a>
    <a href="/">Home</a>
</body>
</html>