<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/myStyle.css"/>
    <title>Homepage</title>
</head>
<body>
    <div class="navbar">
        <li><a href="/">Home</a></li>
        <li><a href="/winpercent/high">Popularity</a></li>
        <li><a href="/sugarpercent/low">Sugar Content</a></li>
        <li><a href="/pricepercent/low">Price Percent</a></li>
    </div>
    <h1 style="text-align:center">Welcome to the Candy Data Website!</h1>
    <p style="text-align:center; font-size:1.2rem;">Data is provided on well-known candies by popularity, sugar content, and price.</p>
</body>
</html>