<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>Page Title</title>
        <link rel="stylesheet" href="/css/myStyle.css"/>
    </head>
    <body>
        <h1>Price Percent</h1>
        <a href="/winpercent/low">Win Percentage</a>
        <a href="/sugarpercent/low">Sugar Percentage</a>
        <a href="/pricepercent/low">Price Percentage</a>
        <a href="/">Home</a>
        <table>
            <thead>
                <tr>
                    <th>Candy Name</th>
                    <th>Price Percentage</th>
                    <th>Chocolate</th>
                    <th>Fruity</th>
					<th>Nutty</th>
                    <th>Caramel</th>
                    <th>Packs of Many</th>
                </tr>
            </thead>
            <tbody>
                $$TABLE_BODY$$
            </tbody>
        </table>
    </body>
</html>
