<!DOCTYPE html>
<html>
  <head>
    <title>Search Data</title>
    <link rel="stylesheet" href="/css/style.css" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- <link rel="stylesheet" href="css/style.css"/> -->

    <!-- <link rel="stylesheet" href="/css/normalize.css" /> -->
    <link rel="stylesheet" href="/css/foundation.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <!-- <script src="js/vendor/modernizr.js"></script> -->
  </head>
  <body>
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="menu horizontal">
          <li><a href="/index.html">Home</a></li>
          <li><a href="/weg/Low">Women's Empowerment Group</a></li>
          <li><a href="/ggpg/Low">Global Gender Parity Index</a></li>
          <li>
            <a href="/region/Sub-Saharan Africa"
              >Sustainable Development Goal</a
            >
          </li>
          <li><a href="/all">All</a></li>
        </ul>
      </div>
      <div class="top-bar-right">
        <div class="menu horizontal">
          <h4 style="margin-right: 1em">Region</h4>
        </div>
      </div>
    </div>

    <div class="grid-container">
      <div class="grid-x grid-padding-x">
        <div class="cell large-12">
          <button id="previous">Previous</button>
          <button id="next" style="float: right">Next</button>
        </div>
      </div>

      <div class="grid-x grid-padding-x">
        <div class="cell large-12">
          <table>
            <thead>
              <tr>
                <th class="center-text">Country</th>
                <th class="center-text">Women's Empowerment Index</th>
                <th class="center-text">Women's Empowerment Group</th>
                <th class="center-text">Global Gender Parity Index</th>
                <th class="center-text">Gender Parity Group</th>
                <th class="center-text">Human Development Group</th>
                <th class="center-text">
                  Sustainable Development Goal Regions
                </th>
                <th class="center-text">Population</th>
              </tr>
            </thead>
            <tbody>
              $TABLE_DATA$
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <script src="/js/vendor/region.js"></script>
    <script src="/js/vendor/jquery.js"></script>
    <script src="/js/vendor/what-input.js"></script>
    <script src="/js/vendor/foundation.js"></script>
    <!-- <script src="/js/foundation.min.js"></script> -->
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
