<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/foundation.css">
    <link rel="stylesheet" href="/css/styles.css">
	<title>Search by State | Covid Geographic</title>
</head>
<body>

	<header class="HeaderNav">
        <a href="/index.html" class="HeaderLogo">Covid Geographic</a>
        <nav class="Navbar">
            <a href="/index.html">Home</a>
            <a href="/search.html">Search</a>
        </nav>
    </header>

	<div class="covidContent">
        $$State$$

		$$TotalRisk$$
    </div>
</body>
</html>