<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/foundation.css">
    <link rel="stylesheet" href="../css/styles.css">
	<title>Template 1</title>
</head>
<body>
    <div class="off-canvas-wrapper">
        <!--Main Content-->
        <div class="off-canvas-content" data-off-canvas-content>
            <!-- main content within a `grid-container` -->
            <div class="grid-container">
                <!-- `grid-x` represents a row -->
                <div class="grid-x grid-padding-x">
                    <div class="cell small-12 show-for-small-only smallheight"><br></div>
                    <div class="cell small-12 show-for-medium"><br></div>
                    <div class="cell small-12 namestyle">$$STATENAME$$</div>
                    <div class="cell small-12"><br></div>
                    <div class="cell small-12 medium-12" style="background-color: black;">,</div>
                    <div class="cell small-12"><br></div>
                </div>
                <div class="grid-x grid-padding x">
                    <table>
                        <thead>
                            <tr>
                                <th>State</th>
                                <th>Car Insurance Premium</th>
                            </tr>
                        </thead>
                        <tbody>
                            $$TABLE_BODY$$
                        </tbody>
                      </table>
                    </table>
                </div>
                <div class="grid-x grid-padding x">
                    <div class="cell small-12"><br></div>
                    <div class="cell small-12"><br></div>
                    <div class="cell small-6"><a href='$$PREV$$'>Previous</a></div>
                    <div class="cell small-6" style="text-align: right;"><a href='$$NEXT$$'>Next</a></div>
                    <div class="cell small-12"><br></div>
                    <div class="cell small-12"><br></div>
                </div>
            </div>
        </div>
    </div>

    <!-- include before closing <body> tag -->
    <script src="/public/js/vendor/jquery.js"></script>
    <script src="/public/js/vendor/what-input.js"></script>
    <script src="/public/js/vendor/foundation.js"></script>
    <script type="application/javascript">
        $(document).foundation();
    </script>
</body>
</html>
