<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Exoplanets|$$PLANET_NAME$$</title>
	<link rel="stylesheet" href="../style.css"/>
	<link rel="stylesheet" href="../foundation.css"/>
	<link rel="icon" href="favicon.ico" type="image/x-icon">
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
</head>
<body>
	<h1>$$PLANET_NAME$$</h1>
        <br>
        <table>
            <thead>
                <tr>
                    <th>Discovery Method</th>
                    <th>Discovery Year</th>
                    <th>Discovery Facility</th>
                    <th>Orbital Period</th>
					<th>Planet Mass</th>
					<th>Distance from Earth</th>
                </tr>
            </thead>
            <tbody>
                $$TABLE_BODY$$
            </tbody>
        </table>
</body>
</html>
