<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>NHL Data Template</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
	<style>
        a {
            text-decoration: none;
			color: black;
             
        }
	</style>
</head>
<body>
	<div class="container">
		<div class="grid-x grid-padding-x">
			<div class="cell small-12 medium-4 large-4" style="color:white">
				<a href="/"><h4><center>Home</center></h4></a>
			</div>
			<div class="cell small-12 medium-4 large-4" style="color:white">
				<a href="/team/min"><h4><center>Teams</center></h4></a>
			</div>
			<div class="cell small-12 medium-4 large-4" style="color:white">
				<a href="/quality/min"><h4><center>Quality</center></h4></a>
			</div>
			<div class="cell small-12 medium-4 large-4" style="color:white;">
				<a href="/importance/min"><h4><center>Importance</center></h4></a>
			</div>
		</div>
		<div class="row">
			<div class="col-12 text-center">
				<br>
				<br>
				<h1> ##TITLE## </h1>
				<br>
				<br>
				<br>
				
			</div>

			<div class="col-sm-6 col-md-12 text-center">
				<table class="table">
					##TABLE_DATA##
				</table>
			</div>
		</div>
	</div>
</body>
</html>
