<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>Page Title</title>
        <link rel="stylesheet" href="/css/myStyle.css"/>
    </head>
    <body>
        <div class="navbar">
            <li><a href="/">Home</a></li>
            <li><a href="/winpercent/high">Popularity</a></li>
            <li><a href="/sugarpercent/low">Sugar Percent</a></li>
            <li><a href="/pricepercent/low">Price Percent</a></li>
        </div>
        <h1>Popularity</h1>
        <h2>Results for $$CATEGORY_NAME$$ popularity</h2>
        <div class="prevNext">
            <a href="/winpercent/low">low</a>
            <a href="/winpercent/medium">medium</a>
            <a href="/winpercent/high">high</a>
        </div>
        <div id="featured-image-container">
            $$FEATURED_IMAGE$$
        </div>
        <div id="image-caption">
            $$IMAGE_CAPTION$$
        </div>
        <table>
            <thead>
                <tr>
                    <th>Candy Name</th>
                    <th>Win Percentage</th>
                    <th>Chocolate</th>
                    <th>Fruity</th>
					<th>Nutty</th>
                    <th>Caramel</th>
                    <th>Packs of Many</th>
                </tr>
            </thead>
            <tbody>
                $$TABLE_BODY$$
            </tbody>
        </table>
    </body>
</html>
